<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>505827533331-v0m58nik3cnba22q06u0m233r7jbttdc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.505827533331-v0m58nik3cnba22q06u0m233r7jbttdc</string>
	<key>API_KEY</key>
	<string>AIzaSyCi5ABXK-Xhum6iPhFTX6raRKiqostLfug</string>
	<key>GCM_SENDER_ID</key>
	<string>505827533331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jaduRideDriver</string>
	<key>PROJECT_ID</key>
	<string>jaduride-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>jaduride-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505827533331:ios:e25c75e68f61e1f6cbd5e6</string>
</dict>
</plist>